<%- include("../partials/header") -%>

<h1 style="text-align: center; color: black">My name is Ayazhan, I am 19 years old and student of BDA-2207<br>
    My name is Alina, I am 19 years old and student of BDA-2207<br>
    My name is Vladislav, I am 18 years old and student of BDA-2207</h1>

<%- include("../partials/footer") -%>
